.towerName-animation_wrapper {
  width: 100%;
  display: inline-flex;
  font-size: 14rem;
  user-select: none;
  will-change: opacity;

  &.alpha {
    color: #a4d3d8;
  }
  &.beta {
    color: #ff9f7c;
  }

  @media (min-width: 500px) {
    font-size: 7rem;
  }
}
