.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //   & > h2 {
  //     font-size: 4rem;
  //     margin: 1rem auto;
  //   }

  //   & > ul {
  //     width: 100%;
  //     max-width: 900px;

  //     display: flex;
  //     flex-wrap: wrap;
  //     gap: 1rem;

  //     & > li {
  //       width: 100%;
  //       flex: 0 1 auto;
  //       text-align: center;

  //       @media screen and (min-width: 940px) {
  //         width: 440px;
  //         flex: auto;
  //         text-align: left;
  //       }

  //       & > a {
  //         display: flex;
  //         flex-direction: column;
  //       }
  //     }
  //   }
}
