.navi-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 128;
  cursor: pointer;
  font-size: 1.6rem;

  & > .navi {
    width: 100%;
    max-width: 25rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    user-select: none;
    cursor: default;

    position: relative;
    animation: slide 0.2s linear 0s;

    @keyframes slide {
      from {
        left: -25rem;
      }
      to {
        left: 0;
      }
    }

    & > li {
      width: 100%;
      display: flex;
      align-items: center;

      $hoverColor: lighten(
        $color: tomato,
        $amount: 5%,
      );
      $linkPadding: 1.5rem;

      & > a {
        width: 100%;
        min-height: 4rem;
        height: 100%;
        color: white;
        padding: 1rem $linkPadding;
        display: inline-flex;
        align-items: center;
        font-weight: 300;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            color: $hoverColor;
          }
        }
      }

      &.home {
        $closeWidth: 6rem;

        & > a {
          max-width: calc(100% - ($linkPadding * 2) - $closeWidth);
        }

        & > svg {
          width: $closeWidth;
          height: $closeWidth;
          font-size: 4rem;
          padding: 1rem;
          box-sizing: border-box;
          color: #ffffff;
          cursor: pointer;

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: $hoverColor;
            }
          }
        }
      }
    }
  }
}

.navi-wait {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 128;

  & > svg {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 70%;
    box-sizing: border-box;
    font-size: 4rem;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgba(0, 0, 0, 0.75);
        color: rgba(255, 255, 255, 0.95);
      }
    }

    position: relative;
    animation: sizing 0.2s linear 0s;

    @keyframes sizing {
      0% {
        transform: scale3d(0, 0, 0);
      }
      75% {
        transform: scale3d(1.15, 1.15, 1.15);
      }
      100% {
        transform: scale3d(1, 1, 1);
      }
    }
  }
}
